<h1>About this project</h1>

<p>The Transit project is using a static dataset that was created by making several calls to the Winnipeg Transit API.
As such, it is not providing current route or schedule information. Additionally, the schedule data was downloaded for a Sunday only. For this reason,
some bus stops may not list any stop information.</p>
<p>This project was created by Jeremy Wiebe, for the fall term of the Full Stack Web Development course of Red River College's Business Information Technology program.</p>